In [114]:
#importing 
import pandas as pd

In [115]:
data_csv_path = "Resources/Life Expectancy.csv"
initial_data = pd.read_csv(data_csv_path)
print(len(initial_data))
initial_data.head()

3194

,State,County,"Male life expectancy, 1985 (years)","Female life expectancy, 1985 (years)","Male life expectancy, 1990 (years)","Female life expectancy, 1990 (years)","Male life expectancy, 1995 (years)","Female life expectancy, 1995 (years)","Male life expectancy, 2000 (years)","Female life expectancy, 2000 (years)","Male life expectancy, 2005 (years)","Female life expectancy, 2005 (years)","Male life expectancy, 2010 (years)","Female life expectancy, 2010 (years)","Difference in male life expectancy, 1985-2010 (years)","Difference in female life expectancy, 1985-2010 (years)"
0,United States,NaN,70.8,77.8,71.5,78.3,72.5,78.8,74.1,79.2,74.9,79.9,76.1,80.8,5.2,3.0
1,Alabama,NaN,69.1,76.9,69.4,77.1,69.9,77.2,71.0,77.2,71.5,77.3,72.4,77.8,3.3,0.9
2,Alabama,Autauga,68.1,77.0,68.5,77.0,69.3,77.3,71.7,77.6,72.5,77.4,73.3,78.8,5.2,1.8
3,Alabama,Baldwin,71.1,78.8,71.9,79.2,72.4,79.3,73.9,79.2,73.8,79.7,75.0,80.3,3.8,1.5
4,Alabama,Barbour,66.8,76.0,66.7,76.7,68.4,76.9,70.0,76.2,70.5,77.0,72.2,77.2,5.3,1.1

In [116]:
initial_data = initial_data.drop([327])
print(len(initial_data))

3193

In [117]:
initial_data["State"].unique()

array(['United States', 'Alabama', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware',
       'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [118]:
US_data = initial_data.iloc[:1]
US_data = US_data.drop(['County'], axis = 1)
US_data.head()

,State,"Male life expectancy, 1985 (years)","Female life expectancy, 1985 (years)","Male life expectancy, 1990 (years)","Female life expectancy, 1990 (years)","Male life expectancy, 1995 (years)","Female life expectancy, 1995 (years)","Male life expectancy, 2000 (years)","Female life expectancy, 2000 (years)","Male life expectancy, 2005 (years)","Female life expectancy, 2005 (years)","Male life expectancy, 2010 (years)","Female life expectancy, 2010 (years)","Difference in male life expectancy, 1985-2010 (years)","Difference in female life expectancy, 1985-2010 (years)"
0,United States,70.8,77.8,71.5,78.3,72.5,78.8,74.1,79.2,74.9,79.9,76.1,80.8,5.2,3.0

In [119]:
state_county_df = initial_data.drop(labels = 0,
                                   axis = 0,
                                   inplace = False)
state_county_df.head()

,State,County,"Male life expectancy, 1985 (years)","Female life expectancy, 1985 (years)","Male life expectancy, 1990 (years)","Female life expectancy, 1990 (years)","Male life expectancy, 1995 (years)","Female life expectancy, 1995 (years)","Male life expectancy, 2000 (years)","Female life expectancy, 2000 (years)","Male life expectancy, 2005 (years)","Female life expectancy, 2005 (years)","Male life expectancy, 2010 (years)","Female life expectancy, 2010 (years)","Difference in male life expectancy, 1985-2010 (years)","Difference in female life expectancy, 1985-2010 (years)"
1,Alabama,NaN,69.1,76.9,69.4,77.1,69.9,77.2,71.0,77.2,71.5,77.3,72.4,77.8,3.3,0.9
2,Alabama,Autauga,68.1,77.0,68.5,77.0,69.3,77.3,71.7,77.6,72.5,77.4,73.3,78.8,5.2,1.8
3,Alabama,Baldwin,71.1,78.8,71.9,79.2,72.4,79.3,73.9,79.2,73.8,79.7,75.0,80.3,3.8,1.5
4,Alabama,Barbour,66.8,76.0,66.7,76.7,68.4,76.9,70.0,76.2,70.5,77.0,72.2,77.2,5.3,1.1
5,Alabama,Bibb,67.3,76.6,68.4,76.2,69.0,75.9,70.3,76.5,70.5,76.8,71.5,76.8,4.2,0.2

In [120]:
#Exporting US dataframe and county's Dataframe to CSV
state_county_df.to_csv("Data_csv/state_county.csv")
US_data.to_csv("Data_csv/US.csv")

In [121]:
States_group = state_county_df.groupby(["County"])
States_group.head()

,State,County,"Male life expectancy, 1985 (years)","Female life expectancy, 1985 (years)","Male life expectancy, 1990 (years)","Female life expectancy, 1990 (years)","Male life expectancy, 1995 (years)","Female life expectancy, 1995 (years)","Male life expectancy, 2000 (years)","Female life expectancy, 2000 (years)","Male life expectancy, 2005 (years)","Female life expectancy, 2005 (years)","Male life expectancy, 2010 (years)","Female life expectancy, 2010 (years)","Difference in male life expectancy, 1985-2010 (years)","Difference in female life expectancy, 1985-2010 (years)"
1,Alabama,NaN,69.1,76.9,69.4,77.1,69.9,77.2,71.0,77.2,71.5,77.3,72.4,77.8,3.3,0.9
2,Alabama,Autauga,68.1,77.0,68.5,77.0,69.3,77.3,71.7,77.6,72.5,77.4,73.3,78.8,5.2,1.8
3,Alabama,Baldwin,71.1,78.8,71.9,79.2,72.4,79.3,73.9,79.2,73.8,79.7,75.0,80.3,3.8,1.5
4,Alabama,Barbour,66.8,76.0,66.7,76.7,68.4,76.9,70.0,76.2,70.5,77.0,72.2,77.2,5.3,1.1
5,Alabama,Bibb,67.3,76.6,68.4,76.2,69.0,75.9,70.3,76.5,70.5,76.8,71.5,76.8,4.2,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3189,Wyoming,Sweetwater,72.9,78.9,73.0,79.2,72.7,78.7,73.8,78.9,74.5,78.2,75.5,81.3,2.6,2.4
3190,Wyoming,Teton,73.0,77.5,73.9,78.5,75.7,80.1,78.1,80.9,79.7,83.5,80.9,83.3,7.9,5.8
3191,Wyoming,Uinta,73.5,79.5,73.6,78.8,74.0,79.1,74.5,79.3,75.1,79.5,74.8,79.9,1.3,0.4
3192,Wyoming,Washakie,73.1,79.9,73.2,79.5,73.9,79.5,74.8,79.3,75.2,80.1,75.9,79.3,2.8,-0.7
3193,Wyoming,Weston,71.8,79.5,72.7,78.7,73.3,78.8,74.6,79.4,75.0,80.1,74.5,78.8,2.7,-0.6

In [122]:
#Creating a dataframe for the average life expectancy by State
state_data_df = state_county_df.loc[state_county_df['County'].isna()]
del state_data_df['County']
state_data_df = state_data_df.reset_index()
del state_data_df['index']
state_data_df

,State,"Male life expectancy, 1985 (years)","Female life expectancy, 1985 (years)","Male life expectancy, 1990 (years)","Female life expectancy, 1990 (years)","Male life expectancy, 1995 (years)","Female life expectancy, 1995 (years)","Male life expectancy, 2000 (years)","Female life expectancy, 2000 (years)","Male life expectancy, 2005 (years)","Female life expectancy, 2005 (years)","Male life expectancy, 2010 (years)","Female life expectancy, 2010 (years)","Difference in male life expectancy, 1985-2010 (years)","Difference in female life expectancy, 1985-2010 (years)"
0,Alabama,69.1,76.9,69.4,77.1,69.9,77.2,71.0,77.2,71.5,77.3,72.4,77.8,3.3,0.9
1,Alaska,70.9,77.7,72.0,78.8,72.9,78.7,74.2,78.9,75.1,79.7,75.8,80.1,4.9,2.3
2,Arizona,71.7,78.8,72.3,79.3,73.1,79.6,74.5,79.9,75.2,80.5,76.8,81.7,5.1,2.9
3,Arkansas,69.8,77.5,70.2,77.6,70.6,77.8,71.8,77.8,72.2,78.0,73.0,78.5,3.2,1.0
4,California,71.7,78.3,72.3,78.8,73.5,79.6,75.7,80.3,76.5,81.2,78.2,82.5,6.5,4.2
5,Colorado,72.9,79.0,73.6,79.6,74.4,79.9,76.0,80.2,76.5,80.9,77.6,81.7,4.7,2.7
6,Connecticut,72.4,78.7,73.4,79.6,74.1,79.9,75.8,80.6,76.9,81.6,78.2,82.5,5.8,3.8
7,Delaware,70.3,76.8,71.4,77.4,72.3,78.4,73.9,78.7,74.5,79.4,75.6,80.4,5.2,3.6
8,Florida,71.2,78.5,71.7,79.1,72.7,79.6,74.4,80.0,75.1,80.6,76.3,81.6,5.2,3.1
9,Georgia,68.7,76.4,69.3,76.9,70.4,77.3,72.1,77.6,73.0,78.2,74.4,79.2,5.7,2.8
10,Hawaii,74.6,80.5,75.2,81.1,75.6,81.6,76.9,82.0,77.3,82.8,77.8,83.5,3.2,3.1
11,Idaho,72.8,79.1,73.4,79.5,74.5,79.8,75.5,80.0,76.0,80.3,77.0,80.9,4.2,1.8
12,Illinois,70.7,77.5,71.1,77.9,72.0,78.4,73.7,79.0,74.9,79.9,76.3,81.0,5.6,3.5
13,Indiana,70.9,77.7,71.6,78.2,72.3,78.2,73.3,78.5,74.0,78.9,74.7,79.6,3.9,1.9
14,Iowa,72.5,79.3,73.3,79.7,74.2,80.1,75.4,80.3,76.0,80.8,76.7,81.2,4.1,1.9
15,Kansas,72.3,79.0,73.1,79.4,73.6,79.6,74.6,79.6,75.1,79.8,75.8,80.5,3.5,1.5
16,Kentucky,69.5,77.1,70.2,77.4,70.9,77.6,72.0,77.8,72.4,77.9,73.2,78.2,3.6,1.1
17,Louisiana,68.8,76.1,68.9,76.5,69.5,76.7,70.8,76.9,70.9,77.0,72.5,78.2,3.7,2.1
18,Maine,71.5,78.1,72.7,79.0,73.7,79.4,74.9,79.6,75.4,80.1,76.5,80.9,5.0,2.8
19,Maryland,70.2,76.9,71.1,77.7,71.7,78.1,73.5,78.6,74.5,79.6,76.1,80.8,5.9,3.9
20,Massachusetts,71.9,78.5,73.0,79.3,74.1,79.9,75.7,80.5,76.6,81.3,77.8,82.4,6.0,3.9
21,Michigan,70.4,77.3,71.5,77.8,72.5,78.4,73.8,78.7,74.7,79.4,75.5,80.1,5.0,2.8
22,Minnesota,73.0,79.6,74.1,80.2,74.8,80.5,76.2,81.0,77.3,81.8,78.2,82.5,5.1,2.9
23,Mississippi,68.4,76.5,68.6,76.5,68.7,76.4,70.0,76.4,70.5,76.8,71.5,77.4,3.1,0.8
24,Missouri,70.8,77.9,71.3,78.3,71.8,78.4,73.2,78.6,73.7,79.0,74.6,79.6,3.8,1.7
25,Montana,72.3,79.0,72.8,79.2,73.6,79.5,74.7,79.6,75.4,80.0,76.2,80.5,4.0,1.6
26,Nebraska,72.3,79.2,73.2,79.5,74.0,79.9,75.2,80.1,76.0,80.7,76.9,81.4,4.6,2.1
27,Nevada,70.4,77.1,70.9,77.5,71.7,78.0,73.4,78.4,73.9,78.9,75.6,80.2,5.2,3.1
28,New Hampshire,72.0,78.1,73.3,79.1,74.6,79.8,75.8,80.4,76.7,80.9,77.9,81.9,5.9,3.8
29,New Jersey,70.9,77.5,71.8,78.1,72.9,78.8,74.8,79.7,76.1,80.7,77.5,82.0,6.6,4.5
30,New Mexico,71.2,78.6,72.0,79.0,72.7,79.3,74.0,79.8,74.3,80.1,75.2,80.6,4.1,2.0
31,New York,70.2,77.1,70.5,77.9,72.2,78.7,75.0,80.0,76.3,81.1,77.6,82.2,7.5,5.0
32,North Carolina,69.5,77.2,70.2,77.7,71.1,78.1,72.7,78.3,73.6,78.9,74.8,79.8,5.3,2.6
33,North Dakota,72.9,80.1,73.7,80.2,74.4,80.5,75.4,80.8,76.2,81.4,76.7,82.0,3.9,1.9
34,Ohio,70.9,77.4,71.8,78.0,72.5,78.3,73.7,78.6,74.1,79.0,75.0,79.7,4.1,2.3
35,Oklahoma,70.8,78.0,71.4,78.1,71.5,77.9,72.4,77.8,72.6,77.6,73.2,78.0,2.4,0.1
36,Oregon,72.0,78.7,72.9,79.1,73.8,79.3,75.2,79.7,75.9,80.2,77.0,81.2,5.0,2.5
37,Pennsylvania,70.8,77.5,71.6,78.2,72.5,78.7,73.9,79.2,74.5,79.7,75.7,80.7,4.9,3.2
38,Rhode Island,71.7,78.5,72.7,79.2,73.9,79.9,75.1,80.2,75.8,80.9,76.7,81.4,5.0,2.9
39,South Carolina,68.6,76.3,69.3,76.8,70.2,77.2,71.5,77.6,72.3,78.2,73.7,79.2,5.0,2.9
40,South Dakota,72.0,79.6,72.6,79.9,73.4,80.2,74.7,80.4,75.5,80.9,76.4,81.4,4.4,1.8
41,Tennessee,69.5,77.3,70.0,77.6,70.5,77.6,71.7,77.7,72.2,77.9,73.4,78.7,3.8,1.4
42,Texas,70.5,78.0,71.2,78.4,72.2,78.8,73.9,78.9,74.6,79.6,75.8,80.4,5.3,2.4
43,Utah,73.6,79.4,74.7,80.1,75.4,80.4,76.3,80.3,76.9,80.8,77.8,81.6,4.2,2.2
44,Vermont,71.7,78.2,72.6,78.9,73.9,79.6,75.4,79.9,76.5,80.9,77.3,81.6,5.7,3.4
45,Virginia,70.3,77.1,71.4,78.0,72.3,78.3,73.9,78.8,75.0,79.6,76.3,80.7,6.0,3.5
46,Washington,72.5,78.8,73.5,79.4,74.4,79.8,75.7,80.1,76.5,80.7,77.6,81.6,5.1,2.8
47,West Virginia,69.8,77.1,70.2,77.4,71.1,77.4,72.0,77.6,72.3,77.6,72.6,78.1,2.7,1.0
48,Wisconsin,72.5,79.1,73.3,79.5,74.1,79.9,75.1,80.2,76.0,80.8,77.0,81.6,4.5,2.5
49,Wyoming,72.0,78.6,72.7,78.8,73.5,79.2,74.7,79.2,75.2,79.6,75.8,80.2,3.9,1.6

In [123]:
state_data_df.to_csv("Data_csv/state_life_avg.csv")

In [113]:
#Seperating the Data by regions
Northeast_life_expect = state_county_df.loc[state_county_df['State'] == ['Maine', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New Hampshire', 'Vermont','New York', 'Pennsylvania', 'New Jersey', 'Delaware', 'Maryland']]
Northeast_life_expect

ValueError: Lengths must match to compare